# Dependencies
/node_modules

# Production build
/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE specific files
.idea
.vscode
*.swp
*.swo

# Angular specific
/.angular/cache
.sass-cache/

# System Files
.DS_Store
Thumbs.db