.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo a {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover,
.nav-links .active {
  color: #f39c12 !important;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    background: #222;
    text-align: center;
    width: 50%;
    left: 162px;
    border-radius: 10px;
    height: 220px;
    padding: 0.5rem;
    top: 70px;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
  .nav-links a:hover,
  .nav-links .active {
    color: #f39c12 !important;
  }
}

.container {
  padding: 20px;
}
